.confidence_table_head {
	color: #e3e3e3;
	background-color: dimgray;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: 1px solid #27272b;
	border-width: medium;
	opacity: .6;
	text-align: center;
	height: 70px;
}

.confidence_table_body {
	color: #e3e3e3;
	background-color: dimgray;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: 1px solid #27272b;
	border-width: medium;
	opacity: .85;
}

.confidence_table_cell {
	background-color: green;
	border: 1px solid #27272b;
	border-width: medium;
  	text-align: center;
	color: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	opacity: .75;
	width: 10rem;
  	height: 4rem;
}