body {
	background: #202023;
	padding-bottom: 60px;
}

.header {
	background: #1c1c1f;
	height: 80px !important;
	padding-left: 172px;
}

.logo {
	color: #e3e3e3;
	font-size: 22pt;
	font-family: 'Rajdhani', sans-serif;
	margin-top: 20pt;
	margin-bottom: 20pt;
}

.card {
	background: #27272b;
	padding: 12px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.subheading {
	color: #e3e3e3;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 8px;
}

.history_table_head {
	color: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	opacity: .6;
}

.history_table_body {
	color: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	opacity: .85;
}

.event-pie-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 25px;
}

.event-pie-legend li {
    color: #e3e3e3;
    list-style-type:none;
}

.roboto-reg {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.roboto-med {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
}
#network-container {
    height: 180px;
}

#datapoint-notif {
	padding-top: 8px;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
	height: 75px;
	width: 180px;
  	border-radius: 12px;
  	background: rgba(255,255,255,.6);
  	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  	margin-top: 30px;
  	margin-left: auto;
    margin-right: auto;
    display: block;
  	opacity: .65;
}

#datapoint-notif p {
	margin: 0 
}

.animate-pulse {
	animation: pulse-med .6s infinite;
}

.animate-idle {
	animation: pulse-big 2.2s infinite;
}

@-webkit-keyframes pulse-med {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(89,255,249, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(89,255,249, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(89,255,249, 0);
  }
}
@keyframes pulse-med {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(89,255,249, 0.4);
    box-shadow: 0 0 0 0 rgba(89,255,249, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 18px rgba(89,255,249, 0);
      box-shadow: 0 0 0 18px rgba(89,255,249, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(89,255,249, 0);
      box-shadow: 0 0 0 0 rgba(89,255,249, 0);
  }
}

@-webkit-keyframes pulse-big {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(89,255,249, 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(89,255,249, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(89,255,249, 0);
  }
}
@keyframes pulse-big {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(89,255,249, 0.5);
    box-shadow: 0 0 0 0 rgba(89,255,249, 0.5);
  }
  70% {
      -moz-box-shadow: 0 0 0 26px rgba(89,255,249, 0);
      box-shadow: 0 0 0 26px rgba(89,255,249, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(89,255,249, 0);
      box-shadow: 0 0 0 0 rgba(89,255,249, 0);
  }
}